---
interface Props {
	beneficio: string
	descripcion: string
}

const { beneficio, descripcion } = Astro.props
---

<article class="rounded-3xl bg-white p-6 shadow-sm">
	<div class="mx-auto aspect-square h-24 rounded-2xl bg-primary-500 my-4 text-white flex items-center justify-center">
		<slot />
	</div>
	<h3 class="text-center font-semibold">{beneficio}</h3>
	<p class="text-center text-gray-500">
		{descripcion}
	</p>
</article>
