---
interface Props {
	beneficio: string
	descripcion: string
}

const { beneficio, descripcion } = Astro.props
---

<article class="rounded-3xl bg-white p-6 shadow-sm transition-all hover:scale-105">
	<div
		class="mx-auto my-4 flex aspect-square h-24 items-center justify-center rounded-2xl bg-primary-500 text-white">
		<slot />
	</div>
	<h3 class="text-center font-semibold">{beneficio}</h3>
	<p class="text-center text-gray-500">
		{descripcion}
	</p>
</article>
