---
import Layout from '../../layouts/Layout.astro'
import Navbar from '../../components/dashboard/Navbar.astro'
import SideMenu from '../../components/dashboard/SideMenu.astro'
---

<Layout title="Calendario de asignaturas">
	<div class="bg-neutral-100">
		<Navbar />
		<SideMenu />
	</div>
</Layout>
