---
import Layout from '../../layouts/Layout.astro'
import Navbar from '../../components/dashboard/Navbar.astro'
import SideMenu from '../../components/dashboard/SideMenu.astro'
---

<Layout title="Horario">
	<div class="bg-neutral-100">
		<Navbar />
		<SideMenu />
		<main class="h-auto p-4 md:ml-64 md:pt-20">
		</main>
	</div>
</Layout>
