---
import Horario from '../../components/inscripcion/Horario.svelte'
import Oferta from '../../components/inscripcion/Oferta.svelte'
import Layout from '../../layouts/Layout.astro'
import ProgressControl from '../../components/inscripcion/ProgressControl.astro'
---

<Layout title="Inscripción de asignaturas">
	
	<main class="space-y-4 bg-primary-200 p-4 md:grid md:h-screen md:grid-cols-12 md:gap-4">
		<ProgressControl />
		<Horario client:load />
	</main>
</Layout>
