---
import Horario from '../../components/inscripcion/Horario.svelte'
import Oferta from '../../components/inscripcion/Oferta.svelte'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Inscripción de asignaturas">
	<main class="space-y-4 bg-zinc-100 p-4 md:grid md:h-screen md:grid-cols-12 md:gap-4">
		<Oferta client:load />
		<Horario client:load />
	</main>
</Layout>
