---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 - No encontrado">
	<main class="h-screen bg-primary-50 p-4">
		<section class="mx-auto max-w-lg rounded-3xl bg-white px-4 py-8 shadow-sm">
			<h1
				class="mb-4 max-w-2xl text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl">
				Error <span class="text-primary-500">404</span>
			</h1>
			<p class="mb-6 max-w-2xl font-light opacity-80 md:text-lg lg:mb-8 lg:text-xl">
				La página la cual has intentado ingresar no se ha encontrado.
			</p>
			<a
        transition:name="boton-principal"
				class="inline-flex items-center justify-center gap-x-2 rounded-3xl bg-primary-500 px-5 py-3 text-center text-base font-medium text-white shadow transition-all hover:scale-105 hover:bg-primary-600"
				href="/">
				Ir a página principal
				<svg
					class="ms-2 h-5 w-5 rtl:rotate-180"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9"></path>
				</svg>
			</a>
		</section>
	</main>
</Layout>
