---
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro'
import Footer from '../components/common/Footer.astro'
---

<Layout title="Inscripción de Asignaturas">
	<Header />
		<main class=" flex justify-center h-max w-full">
			<section class="rounded-lg lg:w-4/6  sm:w-full bg-primary-200">
				<header class="h-28 block text-center justify-center">
					<h1 class="text-6xl h-max text-center my-5 from-primary-600 to-primary-800 bg-gradient-to-t text-transparent bg-clip-text">Inscripción de <b>Asignaturas</b></h1>
					<h2 class="font-light text-neutral-800">Nombre inspirador o algo parecido aquí por favor gracias de antemano emoji de gracias</h2>
				</header>
			</section>
		</main>
	<Footer />
</Layout>
