---
import Layout from "../layouts/Layout.astro";

const RE_RUT = /^(\d{1,3}(?:\.\d{1,3}){2}-[\dkK])$/;

function IsRUTInvalid(rut: FormDataEntryValue | null): boolean {
    if (rut == null) return false;
    let isValid = false;

    if (!RE_RUT.test(rut.toString())) {
        isValid = true;
    }

    return isValid;
}

const errors = { rut: "", password: "" };
if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const rut = data.get("rut");
        const password = data.get("password");

        if (IsRUTInvalid(rut)) {
            errors.rut += "El RUT ingresado no es v치lido.";
        }

        const hasErrors = Object.values(errors).some((msg) => msg);
        if (!hasErrors) {
            return Astro.redirect("dashboard");
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<Layout title="Login">
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto h-screen">
        <form class="flex flex-col w-1/3 bg-primary-50 rounded-xl p-5" method="POST">
            <h1 class=" text-primary-800 text-xl font-bold leading-tight tracking-tight mb-5 text-center">Inicio de sesi칩n</h1>
            <label class="mb-2 text-sm font-medium text-gray-900">RUT</label>
            <input class="bg-gray-50 border mb-5 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required type="text" name="rut" />
            {errors.rut && <p>{errors.rut}</p>}
            <label class="mb-2 text-sm font-medium text-gray-900">
                Contrase침a
            </label>
            <input class="bg-gray-50 border mb-5 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required minlength="8" type="password" name="password" />
            {errors.password && <p>{errors.password}</p>}
            <div class="flex items-center justify-between mb-5">
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="remember" class="text-gray-500">Recordarme</label>
                    </div>
                </div>
                <a href="#" class="text-sm font-medium text-primary-500 hover:underline">Olvidaste tu contrase침a</a>
            </div>
            <button
                class="w-full text-white bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                type="submit">
                Ingresar
            </button>
        </form>
    </div>
</Layout>

