---
import Horario from '../../../components/inscripcion/Horario.svelte';
import Oferta from '../../../components/inscripcion/Oferta.svelte';
import Layout from '../../../layouts/Layout.astro'
---

<Layout title='Inscripción de asignaturas'>
    <main class="bg-primary-100 h-[91vh] flex gap-4 p-6 overflow-hidden" >
        <Oferta client:load/>
        <Horario client:load/>
    </main>
</Layout>
