---
interface Props {
	name: string
	direction: string
}

const { direction, name } = Astro.props
const { pathname } = Astro.url
const isActive = direction === pathname || direction === pathname.replace(/\/$/, '')
---

<li>
	<a
		href={direction}
		class=`group flex items-center rounded-3xl p-2 opacity-90 transition-all ease-in-out
			${ isActive ? 'bg-primary-500 text-white': 'hover:bg-primary-200' }`>
		<slot class="text-white" />
		<span class="ml-3 font-bold text-black/80">{name}</span>
	</a>
</li>
