---
import MenuItem from './MenuItem.astro'
import CalendarioIcon from '../icons/Calendario.astro'
import BooksIcon from '../icons/Books.astro'
---

<aside
	class="fixed left-0 top-0 z-40 flex h-screen w-64 flex-col bg-neutral-100 p-4 pr-0"
	aria-label="Sidenav"
	id="drawer-navigation">
	<div class="mb-4 flex space-x-2 rounded-3xl bg-white px-1 py-2 shadow-sm">
		<span class="mx-auto inline-flex flex-row items-center text-2xl font-black text-primary-500">
			<BooksIcon class="mr-1" />Epico</span
		>
	</div>
	<div class="flex-1 rounded-3xl bg-white px-3 py-5 shadow-sm">
		<ul class="space-y-2">
			<MenuItem name="Menú principal" direction="">
				<CalendarioIcon class="h-auto text-neutral-800" />
			</MenuItem>
			<MenuItem name="Inscripción" direction="">
				<CalendarioIcon class="h-auto text-neutral-800" />
			</MenuItem>
			<MenuItem name="Malla curricular" direction="">
				<CalendarioIcon class="h-auto text-neutral-800" />
			</MenuItem>
			<MenuItem name="Notificaciones" direction="">
				<CalendarioIcon class="h-auto text-neutral-800" />
			</MenuItem>
			<MenuItem name="Menú principal" direction="">
				<CalendarioIcon class="h-auto text-neutral-800" />
			</MenuItem>
			<MenuItem name="Soporte" direction="">
				<CalendarioIcon class="h-auto text-neutral-800" />
			</MenuItem>
		</ul>
	</div>
</aside>
