<header>
    <nav class="bg-black dark:bg-white border-gray-200 px-4 lg:px-6 py-2.5">
        <div>
            <a href=""></a>
            <div>
                <ul>
                    <li><a href="#"></a>Home</li>
                    <li><a href="#"></a>Nosotros</li>
                    <li><a href="#"></a>Beneficios</li>
                    <li><a href="#"></a>Contacto</li>
                </ul>
            </div>
            <div>
                <button></button>
                <a href=""></a>
            </div>
        </div>
    </nav>
</header>