---
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/common/Header.astro'
import Footer from '../components/common/Footer.astro'
import '@fontsource/poppins'

interface Props {
	title: string
	header_footer?: string
}

const { title, header_footer } = Astro.props
---

<!doctype html>
<html lang="en" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		{header_footer && <Header />}
		<slot />
		{header_footer && <Footer />}
	</body>
</html>

<style is:global>
html {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif, system-ui;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
</style>