---
import ProgressItem from './ProgressItem.astro'

const PROGRESS = [
	{
		stepId: 1,
		stepName: 'Paso 1',
		description: 'Elecci칩n',
		backLink: '/dashboard',
		nextLink: '/inscripcion/seleccion'
	},
	{
		stepId: 2,
		stepName: 'Paso 2',
		description: 'Selecci칩n',
		backLink: '/inscripcion/eleccion',
		nextLink: '/inscripcion/confirmacion'
	},
	{
		stepId: 3,
		stepName: 'Paso 3',
		description: 'Confirmaci칩n',
		backLink: '/inscripcion/seleccion',
		nextLink: '/dashboard'
	}
]

interface Props {
	stepNumber: number
}

const { stepNumber } = Astro.props
---

<header class="col-span-12">
	<nav class="flex w-full justify-between rounded-3xl bg-white p-4 shadow-sm">
		<a
			class="rounded-3xl border border-primary-500 bg-white px-4 py-2 text-sm text-primary-500 shadow-sm hover:bg-primary-100 lg:px-5 lg:py-2.5"
			href={PROGRESS[stepNumber - 1].backLink}>
			Volver atr치s
		</a>

		<div class="grid w-1/2 grid-cols-3 gap-x-4">
			{
				PROGRESS.map(({ stepName, description, stepId }) => (
					<ProgressItem
						completed={stepId <= stepNumber}
						stepName={stepName}
						description={description}
					/>
				))
			}
		</div>
		<a
			class="rounded-3xl bg-primary-500 px-4 py-2 text-sm text-white shadow-sm hover:bg-primary-600 lg:px-5 lg:py-2.5"
			href={PROGRESS[stepNumber - 1].nextLink}>
			Continuar
		</a>
	</nav>
</header>
