---
import ProgressItem from './ProgressItem.astro'
---

<header class="col-span-12">
	<nav class="flex w-full justify-between rounded-3xl bg-white p-4 shadow-sm">
		<a
			class="rounded-3xl border border-primary-500 bg-white px-4 py-2 text-sm text-primary-500 shadow-sm hover:bg-primary-100 lg:px-5 lg:py-2.5"
			href="">
			Volver atr치s
		</a>

		<div class="grid w-1/2 grid-cols-3 gap-x-4">
			<ProgressItem step="Paso 1" description="Selecci칩n" completed={true} />
			<ProgressItem step="Paso 2" description="Inscripci칩n" completed={true} />
			<ProgressItem step="Paso 2" description="Confirmaci칩n" completed={false} />
		</div>
		<a
			class="rounded-3xl bg-primary-500 px-4 py-2 text-sm text-white shadow-sm hover:bg-primary-600 lg:px-5 lg:py-2.5"
			href="">
			Continuar
		</a>
	</nav>
</header>
